.container {
    margin-left: 30%;
    margin-top: 2%
}
.card {
    height: 200%;
    width: 200%;
    display: flex;
    flex-wrap: wrap;
}
.card-img-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

body{
    background-color: #b0f5e9;
}
.box {
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5em; /* 40px/16=2.5em */
    text-align: center;
    text-decoration-line: overline underline;
    text-decoration-color: pink;
    text-shadow: 0 0 3px #ff0000;

  }
  .card-text {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 1.5rem;
    color: black;
  }
  .card-title {
    color: black;
  }
