
body{
    background-color: #b0f5e9;
}
.box {
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5em; /* 40px/16=2.5em */
    text-align: center;


  }
.carousel-item .container
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


x
/* .container {
    margin-left: 35%;
    margin-top: 10%
} */



